body {
  font-size: 16px;
}

header.white-bg {
  background-color: #FFF!important;
  box-shadow: 0px 0px 4px 0px rgba(50, 50, 50, 0.4)!important;
  -moz-box-shadow: 0px 0px 4px 0px rgba(50, 50, 50, 0.4)!important;
  -webkit-box-shadow: 0px 0px 4px 0px rgba(50, 50, 50, 0.4)!important;
}

header.white-bg img {
  display: inline;
}

header {
  transition: background-color 0.8s;
  -webkit-transition: background-color 0.8s;
  -moz-transition: background-color 0.8s;
  box-shadow: unset!important;
  -moz-box-shadow: unset!important;
  -webkit-box-shadow: unset!important;
}

header img {
  display: none;
}

#about h2 {
  font-weight: lighter;
}

#banner {
  height: 100%;
  max-height: 700px;
  position: relative;
}

#banner .banner-content {
  height: 50%;
  margin: auto;
  text-align: center;
  font-family: 'Chewy', cursive;
  font-size: 31px;
  color: #333;
  max-width: 100%;
}

.banner-content h1 {
  margin: 5px;
}

.banner-content img {
  max-height: 70%;
  max-width: 100%;
}

.blanket {
  height: 100%;
  width: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
  background: linear-gradient(312deg, transparent 25%, RGBA(179, 88, 165, 0.71), #B358A5);
  background: -webkit-linear-gradient(312deg, transparent 25%, RGBA(179, 88, 165, 0.71), #B358A5);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(312deg, transparent 25%, RGBA(179, 88, 165, 0.71), #B358A5);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(312deg, transparent 25%, RGBA(179, 88, 165, 0.71), #B358A5);
  /* For Firefox 3.6 to 15 */
  color: #FFF
}

section main {
  max-width: 1200px;
}

section h1 {
  font-weight: lighter;
  text-transform: uppercase;
}

#helpers {
  background-color: #FDE88E;
  background-image: url('../img/woman.png');
  background-repeat: no-repeat;
  background-position: 99% 90%;
}

.helpers {
  position: relative;
  width: 160px;
  height: 160px;
  transform: rotate(2deg);
  cursor: pointer;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
}

.helpers:nth-child(odd) {
  transform: rotate(-2deg);
}

.helpers:hover {
  transform: rotate(0deg);
}

.helpers h3 {
  position: absolute;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  color: #FFF;
  text-align: center;
  width: 100%;
  margin: 0;
  padding: 10px;
}

.helpers img {
  border: 6px solid #B35A85;
  width: 100%;
  height: 100%;
  border-radius: 3px;
}

.judge {
  border: 6px solid #333;
  width: 180px;
  height: 180px;
  transform: rotate(2deg);
}

.judge:nth-child(odd) {
  transform: rotate(-2deg);
}

.judge img {
  max-width: 100%;
  height: 100%;
}

.by, .partner {
  width: 23%;
  max-height: 180px;
}

.partner img {
  max-width: 100%;
  max-height: 100px;
  padding: 15px;
}

.by img {
  max-width: 100%;
  max-height: 160px;
  padding: 15px;
}

.gt-top-menu {
  background-color: transparent;
  font-size: 16px;
}

.gt-top-menu li:hover, .gt-top-menu li.active, .menu li:hover, .menu li.active {
  border-color: #e41e26
}

#by {
  background-image: url('../img/dots-pattern.png');
  background-color: #F0F0F0;
}

#title {
  text-transform: uppercase;
  letter-spacing: 1px;
}

.links a {
  color: white;
}

#facebook, #instagram, #twitter {
  background-color: gray;
  color: white;
  border-radius: 100%;
  width: 30px;
  height: 30px;
  margin: 10px auto 0px;
  display: inline-block;
}

#facebook i, #instagram i , #twitter i {
  margin: 8px;
}

#facebook a, #instagram a , #twitter a {
  color: white;
}

.developers {
  display: grid !important;
  font-size: 14px;
}

.developers a {
  color: white;
}

.developers img {
  width: 50px;
  height: 50px;
}

#info {
  background-color: #000;
  width: 100%;
  left: 0px;
  padding-top: 5px;
  position: absolute;
  text-align: center;
  font-size: 10pt;
  color: #CECECE;
}

#info a {
  color: #CECECE;
}

@media (max-width: 768px) {
  .flex-box {
    display: flex!important;
  }
  #helpers .content-align {
    display: inline;
  }
  .helpers, .judge {
    width: 140px;
    height: 140px;
  }
  #helpers .helpers-box {
    text-align: center;
  }
  .by, .partner {
    width: 45%;
    max-height: 180px;
  }
}
